@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url("https://pixabay.com/get/g7022a869389ac960c9ffa97274bca0f7d6e66d72072463e2f048efa9804b5b28d0f06ab3d890cd2ec3caa64cfa1f9da0_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
